@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Merriweather&family=Roboto:wght@100&display=swap");

/* 
=================
Global Variables
=================
*/

* {
  box-sizing: border-box;
}

:root {
  /*Primary Colors*/
  --clr-primary-1: #f8a296;
  --clr-primary-2: #dc7f73;
  --clr-primary-3: #c05e52;
  --clr-primary-4: #8a3024;
  --clr-primary-5: #772014;
  --clr-primary-6: #66190f;
  --clr-primary-7: #5c140b;
  --clr-primary-8: #490f07;
  --clr-primary-9: #380a04;
  --clr-primary-10: #220400;

  /* Secondary Colors */
  --clr-secondary-1: #d8eeff;
  --clr-secondary-2: #c8dff0;
  --clr-secondary-3: #bdd1df;
  --clr-secondary-4: #afc5d4;
  --clr-secondary-5: #a0b7c7;
  --clr-secondary-6: #89a1b3;
  --clr-secondary-7: #728ca0;
  --clr-secondary-8: #5f7c92;
  --clr-secondary-9: #486880;
  --clr-secondary-10: #334f64;

  /* Transitions */
  --trn-slow: all 1s linear;
  --trn-mid: all 500ms linear;
  --trn-fast: all 150ms linear;

  /* Font Families */
  --fnt-display: "Lobster Two";
  --fnt-serif: "Merriwheather";
  --fnt-sans: "Roboto";

  /* Shadows */
  --shd-bx-dark: 0 0 10px #222;
}

/* 
=================
Global Styles
=================
*/

p {
  font-family: var(--fnt-sans);
}

.my-btn {
  outline: 4px solid var(--clr-primary-8);
  width: auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 0;
  color: var(--clr-primary-9);
  background: var(--clr-primary-1);
  transition: var(--trn-mid);
}

.my-btn:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
}

@media screen and (min-width: 768px) {
  .my-btn,
  .my-btn:hover {
    outline-color: var(--clr-secondary-5);
    outline-offset: 5px;
    background: var(--clr-secondary-5);
    color: var(--clr-primary-5);
    border-radius: 0;
  }
  .my-btn:hover {
    outline: 4px solid var(--clr-primary-7);
    background: var(--clr-primary-5);
    color: var(--clr-secondary-5);
  }
}

/* 
=================
Navbar
=================
*/

.my-nav {
  background: var(--clr-secondary-10);
}

.brand,
.toggler-icon {
  color: var(--clr-primary-2);
  font-size: 2rem;
  font-family: var(--fnt-display);
  transition: var(--trn-mid);
}

.brand:hover {
  color: var(--clr-primary-5);
}

.toggler-icon:hover {
  color: var(--clr-primary-3);
}

.toggler:focus .toggler-icon {
  color: var(--clr-primary-5);
}

.nav-link {
  color: var(--clr-secondary-2);
  font-size: 1.75rem;
  font-family: var(--fnt-sans);
  transition: var(--trn-fast);
}

.nav-item {
  border-bottom: 1px solid var(--clr-secondary-1);
}

.nav-link:hover { 
  color: var(--clr-secondary-5);
  transform: translateX(20px);
}

@media screen and (min-width:992px) {
  .nav-item {
    border: none;
  }
  
  .nav-link:hover {
    transform: none;
  }
}
/* 
=================
Hero
=================
*/

.hero {
  background: var(--clr-primary-3);
  min-height: 100vh;
}

.title-container {
  text-align: center;
  margin-top: 30%;
}

.title {
  font-size: 4rem;
  font-family: var(--fnt-display);
  color: var(--clr-primary-8);
}

.subtitle-container {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  text-align: center;
  font-weight: 1000;
  color: var(--clr-primary-5);
}

.subtitle {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .hero {
    background: url("../img/bg.jpg") center/cover no-repeat;
  }

  .title-container {
    margin-top: 20vh;
  }

  .title {
    font-size: 9rem;
    color: var(--clr-secondary-5);
    text-shadow: 3px 3px 0 var(--clr-primary-8), -1px -1px 0 #000,
      1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .subtitle {
    color: var(--clr-secondary-5);
    font-size: 3rem;
    text-shadow: 3px 3px 0 var(--clr-primary-7),
      -1px -1px 0 var(--clr-primary-10), 1px -1px 0 var(--clr-primary-10),
      -1px 1px 0 var(--clr-primary-10), 1px 1px 0 var(--clr-primary-10);
  }
}

/* 
=================
Features
=================
*/

.features {
  background: var(--clr-secondary-3);
  padding-bottom: 40px;
}

.feature-card {
  background: var(--clr-secondary-6);
  border: 0;
  border-radius: 1rem;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  padding: 0.275rem;
  position: relative;
  transition: var(--trn-mid);
}

.feature-card:hover {
  box-shadow: var(--shd-bx-dark);
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 5px solid var(--clr-secondary-8);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background: var(--clr-secondary-2);
  color: var(--clr-primary-5);
  transition: var(--trn-fast);
}

.feature-icon:hover {
  background: var(--clr-primary-5);
  color: var(--clr-secondary-2);
}

.feature-body {
  text-align: center;
  position: relative;
}

.feature-title {
  text-align: center;
  margin-top: 2rem;
  font-family: var(--fnt-display);
  font-size: 4rem;
  height: 10rem;
  font-weight: 500;
  color: var(--clr-primary-8);
}

.feature-text {
  font-family: var(--fnt-serif);
  font-weight: 500;
  text-align: center;
  font-size: 1.275rem;
  height: 12.8rem;
}

.feature-btn {
  font-family: var(--fnt-sans);
  font-size: 2rem;
  border: 3px solid var(--clr-primary-5);
  border-radius: 0;
  background: var(--clr-primary-3);
  color: var(--clr-primary-10);
  padding: 0.5rem 1rem;
  margin: 0 auto;
  margin-top: 20px;
  transition: var(--trn-fast);
}

.feature-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  border-color: var(--clr-primary-3);
}

@media screen and (min-width: 786px) {
  .feature-card {
    height: 95%;
  }
}

/* 
=================
Gallery
=================
*/

.gallery-img-container {
  overflow: hidden;
  height: 500px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery-img-container {
    height: 300px;
  }
}

/* 
=================
Quality Section
=================
*/

.section {
  background: var(--clr-secondary-3);
}

.section-e {
  background: var(--clr-secondary-4);
}

.section-img-container {
  width: 80%;
  margin: 40px auto;
  position: relative;
}

.section-img-container::before {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 5px solid var(--clr-primary-5);
  position: absolute;
  transform: translate(-10px, -10px);
}

.section-img {
  object-fit: cover;
  width: 100%;
}

.section-body {
  text-align: center;
  margin: 40px auto;
}

.section-title {
  font-family: var(--fnt-display);
  font-size: 5rem;
  color: var(--clr-primary-5);
}

.title-spec {
  color: var(--clr-primary-5);
  text-shadow: 0 0 10px var(--clr-primary-2);
  transition: var(--trn-fast);
}

.section-title:hover .title-spec {
  color: var(--clr-secondary-5);
  text-shadow: 0 0 10px var(--clr-primary-5);
}

.section-body {
  font-family: var(--fnt-sans);
  font-weight: 800;
  color: var(--clr-primary-4);
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .quality-img-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* 
=================
Order
=================
*/

.order {
  background: #000;
  text-align: center;
}

.order-step {
  border-bottom: 1px solid #fff;
}

.order-title {
  font-family: var(--fnt-sans);
  font-weight: 1000;
  color: var(--clr-primary-1);
  margin-top: 2rem;
  letter-spacing: 0.225rem;
  font-size: 5rem;
}

.order-subtitle {
  font-family: var(--fnt-sans);
  font-weight: 700;
  color: var(--clr-secondary-2);
  font-size: 2rem;
  margin-top: 20px;
}

.form-btn {
  border: 2px solid var(--clr-primary-5);
  width: 100%;
  background: var(--clr-primary-4);
  color: var(--clr-secondary-2);
  font-size: 2rem;
  padding: 1rem 0;
  transition: var(--trn-slow);
}

.form-btn:hover {
  background: var(--clr-primary-8);
  border-color: var(--clr-primary-10);
  color: var(--clr-secondary-1);
}

@media screen and (min-width: 992px) {
  .order {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 0.9) 60%,
        rgba(0, 0, 0, 0.8) 90%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("../img/order-bg.jpg") center/cover no-repeat;
  }

  .order-step {
    border-right: 1px solid #fff;
  }
}

/* 
=================
Footer
=================
*/

.footer {
  background: var(--clr-primary-9);
  text-align: center;
  padding-top: 2rem;
}

.social {
  font-size: 3rem;
  color: var(--clr-secondary-2);
  letter-spacing: 0.275rem;
  transition: var(--trn-fast);
  text-decoration: none;
}

.social:hover{
  color: var(--clr-primary-1);
}

.copy-text {
  color: var(--clr-secondary-2);
  font-weight: 700;
}